platform_layer/azure/synapse/pipeline/BulkCopyfrom_AzureDLStorage_to_SynapseDedicatedPool_parquet.json
{
  "name": "BulkCopyfrom_AzureDLStorage_to_SynapseDedicatedPool_parquet",
  "properties": {
    "activities": [
      {
        "name": "Get Container Folders",
        "type": "GetMetadata",
        "dependsOn": [],
        "policy": {
          "timeout": "7.00:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "dataset": {
            "referenceName": "AzureDLStorage_GetMetadataDataset",
            "type": "DatasetReference",
            "parameters": {
              "SourceContainer": {
                "value": "@pipeline().parameters.SourceContainer",
                "type": "Expression"
              }
            }
          },
          "fieldList": [
            "childItems"
          ],
          "storeSettings": {
            "type": "AzureBlobFSReadSettings",
            "recursive": true
          },
          "formatSettings": {
            "type": "DelimitedTextReadSettings"
          }
        }
      },
      {
        "name": "ForEachFolder",
        "type": "ForEach",
        "dependsOn": [
          {
            "activity": "Get Container Folders",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "items": {
            "value": "@activity('Get Container Folders').output.childItems",
            "type": "Expression"
          },
          "activities": [
            {
              "name": "CopyFiles",
              "type": "Copy",
              "dependsOn": [],
              "policy": {
                "timeout": "7.00:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "source": {
                  "type": "ParquetSource",
                  "storeSettings": {
                    "type": "AzureBlobFSReadSettings",
                    "recursive": true,
                    "wildcardFolderPath": {
                      "value": "@item().name",
                      "type": "Expression"
                    },
                    "wildcardFileName": "*.parquet",
                    "enablePartitionDiscovery": false
                  }
                },
                "sink": {
                  "type": "SqlDWSink",
                  "allowPolyBase": true,
                  "polyBaseSettings": {
                    "rejectValue": 0,
                    "rejectType": "value",
                    "useTypeDefault": true
                  },
                  "tableOption": "autoCreate",
                  "disableMetricsCollection": false
                },
                "enableStaging": true,
                "stagingSettings": {
                  "linkedServiceName": {
                    "referenceName": "Ls_AdlsGen2_01",
                    "type": "LinkedServiceReference"
                  },
                  "path": "adfsolutiontemplate/BulkCopyfromFilestoDB"
                }
              },
              "inputs": [
                {
                  "referenceName": "AzureDLStorage_input_parquet",
                  "type": "DatasetReference",
                  "parameters": {
                    "SourceContainer": {
                      "value": "@pipeline().parameters.SourceContainer",
                      "type": "Expression"
                    }
                  }
                }
              ],
              "outputs": [
                {
                  "referenceName": "AzureSynapseAnalyticsTable",
                  "type": "DatasetReference",
                  "parameters": {
                    "sinkTableName": {
                      "value": "@item().name",
                      "type": "Expression"
                    },
                    "sinkTableSchema": {
                      "value": "@pipeline().parameters.SourceContainer",
                      "type": "Expression"
                    }
                  }
                }
              ]
            }
          ]
        }
      },
      null,
      null,
      null,
      {
        "sqlPool": {
          "referenceName": "syndpdev00009"
        }
      }
    ],
    "parameters": {
      "SourceContainer": {
        "type": "string"
      }
    },
    "folder": {
      "name": "BulkCopies"
    },
    "annotations": [],
    "lastPublishTime": "2021-12-12T22:06:22Z"
  },
  "type": "Microsoft.Synapse/workspaces/pipelines"
}
