platform_layer/azure/.tmp/synapse/workspace/pipeline/BulkCopyfrom_AzureSQLdb_to_SynapseDedicatedPool.json
{
	"name": "BulkCopyfrom_AzureSQLdb_to_SynapseDedicatedPool",
	"properties": {
		"description": "Copy huge amount of data in bulk from database using external control table to store source table list with partitions for each table.\n\nWhen you want to migrate data from your Azure Synapse Analytics like Oracle server, Netezza server, Teradata server or SQL Server to Azure, you have to load huge amount of data from multiple tables in data sources. In most cases, data has to be further partitioned in each table so that you can load rows with multiple threads in parallel from single table.",
		"activities": [
			{
				"name": "GetPartitionList",
				"description": "Lookup activity to retrieve the list of partitions stored in the external control table.",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderQuery": {
							"value": "select @{pipeline().parameters.Control_Table_Schema_PartitionID} as PartitionID, \n@{pipeline().parameters.Control_Table_Schema_SourceTableSchema} as SourceTableSchema, \n@{pipeline().parameters.Control_Table_Schema_SourceTableName} as SourceTableName, @{pipeline().parameters.Control_Table_Schema_FilterQuery} as FilterQuery from @{pipeline().parameters.Control_Table_Name}",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlDatabaseExternal_ControlTable",
						"type": "DatasetReference",
						"parameters": {
							"TableName": {
								"value": "@pipeline().parameters.Control_Table_Name",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachPartition",
				"description": "ForEach activity to get the partition list from Lookup activity and then iterate each of them to Copy activity. ",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetPartitionList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetPartitionList').output.value",
						"type": "Expression"
					},
					"batchCount": 5,
					"activities": [
						{
							"name": "CopyOnePartition_to_SynapseDedicatedPool",
							"description": "Copy activity to copy each partition from source database store to destination store.",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlSource",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlDWSink",
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"dataIntegrationUnits": 0
							},
							"inputs": [
								{
									"referenceName": "AzureSqlDatabaseTable",
									"type": "DatasetReference",
									"parameters": {
										"sourceTableName": {
											"value": "@item().SourceTableName",
											"type": "Expression"
										},
										"sourceTableSchema": {
											"value": "@item().SourceTableSchema",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSynapseAnalyticsTable",
									"type": "DatasetReference",
									"parameters": {
										"sinkTableName": {
											"value": "@item().SourceTableName",
											"type": "Expression"
										},
										"sinkTableSchema": {
											"value": "@item().SourceTableSchema",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"Control_Table_Name": {
				"type": "String",
				"defaultValue": "dbo.ControlTableForTemplate"
			},
			"Control_Table_Schema_PartitionID": {
				"type": "String",
				"defaultValue": "PartitionID"
			},
			"Control_Table_Schema_SourceTableName": {
				"type": "String",
				"defaultValue": "SourceTableName"
			},
			"Control_Table_Schema_FilterQuery": {
				"type": "String",
				"defaultValue": "FilterQuery"
			},
			"Data_Destination_Container": {
				"type": "String",
				"defaultValue": "prova"
			},
			"Data_Destination_Directory": {
				"type": "String",
				"defaultValue": "radice"
			},
			"Control_Table_Schema_SourceTableSchema": {
				"type": "string",
				"defaultValue": "SourceTableSchema"
			}
		},
		"folder": {
			"name": "BulkCopies"
		},
		"annotations": [],
		"lastPublishTime": "2021-10-03T21:23:32Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}